/* Resetando margens e preenchimentos */
* {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

/* Resetando texto */
.label, .text, .text-input, .button {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Thin", "Arial";
    -fx-text-fill: -fx-text-base-color;
    -fx-font-weight: normal;
}

/* Resetando botoes */
.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
}

/* Resetando inputs de texto */
.text-input {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-prompt-text-fill: gray;
}

/* Resetando bordas dos containers */
.hbox, .vbox, .pane, .anchor-pane, .stack-pane, .grid-pane, .border-pane {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-color: transparent;
}

.stack-pane{
    -fx-padding: 0 0 28px 0;
}

/* Resetando tables */
.table-view {
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

/* Resetando o ScrollPane */
.scroll-pane {
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: transparent;
}

/* Resetando a seleção de items */
.list-cell, .table-cell, .tree-cell, .choice-box, .combo-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

/* Resetando RadioButton e CheckBox */
.radio-button, .check-box {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
