.stack-pane{
    -fx-background-color: #f0f0f0;
}

.grid-container {
    -fx-hgap: 20px;
    -fx-vgap: 20px;
    -fx-alignment: center;
    -fx-max-width: 1440px;
    -fx-pref-width: 100%;
}

.container{
    -fx-pref-width: 480px;
    -fx-max-width: 480px;
    -fx-min-width: 480px;
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-alignment: center;
    -fx-padding: 24px;
}

.vbox-left {
    -fx-alignment: top-left;
}

.form {
    -fx-spacing: 8px;
}

.texts{
    -fx-pref-width: 100vw;
    -fx-max-width: 100vw;
    -fx-min-width: 100vw;
    -fx-spacing: 8px;
    -fx-padding: 0 0 12px 0;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-wrap-text: 450px;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-text-fill: #666;
    -fx-wrap-text: 450px;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #333;
    -fx-padding: 5px 0;
}

.groupInput{
    -fx-spacing: 6px;
}

.input-field {
    -fx-pref-width: 100vw;
    -fx-max-width: 100vw;
    -fx-min-width: 100vw;
    -fx-padding: 10px;
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-font-size: 14px;
    -fx-border-width: 2px;
}

.input-field:focused {
    -fx-border-color: #407BFF;
}

.buttons{
    -fx-padding: 8px 0 0 0;
    -fx-pref-width: 100vw;
    -fx-max-width: 100vw;
    -fx-min-width: 100vw;
    -fx-spacing: 8px;
}

.signin-button, .signup-button, toggle-language-button{
    -fx-pref-width: 100%;
    -fx-max-width: Infinity;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #407BFF;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
}

.signin-button, .signup-button{
    -fx-background-color: #407BFF;
    -fx-text-fill: white;
}

.toggle-language-button{
    -fx-pref-width: 100%;
    -fx-max-width: Infinity;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #407BFF;
}

.signin-button:hover, .signup-button:hover {
    -fx-background-color: #88ACFD;
}

.toggle-language-button:hover {
    -fx-background-color: #ccc;
}
