/*Default*/

* {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.stack-pane {
    -fx-background-color: #ffffff;
}

.body{
    -fx-pref-width: 1440px;
    -fx-max-width: 1440px;
    -fx-min-width: 1440px;
    -fx-alignment: top-center;
}

/*Header*/

.header{
    -fx-pref-width: 1440px;
    -fx-max-width: 1440px;
    -fx-min-width: 1440px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: transparent transparent #ccc transparent;
}

.navbar{
    -fx-pref-width: 1440px;
    -fx-max-width: 1440px;
    -fx-min-width: 1440px;
}

.logo{
    -fx-alignment: center-left;
}

.menu{
    -fx-alignment: center;
}

.logout-component{
    -fx-alignment: center-right;
}

.main{
    -fx-padding: 48px 0 0 0;
    -fx-pref-width: 1440px;
    -fx-max-width: 1440px;
    -fx-min-width: 1440px;
    -fx-min-height: 100%;
}

.link {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #292929;
    -fx-background-color: transparent;
}

.link:hover{
    -fx-text-fill: #595959;
    -fx-cursor: hand;
}

.logout-button {
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 8px 32px;
    -fx-font-size: 16px;
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
}

.logout-button:hover{
    -fx-background-color: #ff574d;
    -fx-text-fill: #f9f9f9;
    -fx-font-weight: bold;
}

/*Main*/
.title-main{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}